*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
    width: 100vw;
    height: 100vh;
}

#container{
    display: none;

    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(3, 33vh);

    grid-template-areas: "mainMenu . . . ."
                         "leftend left middle right rightend"
                         ". . . . ."    
                        ;
} 

.mainMenu{
    margin-left: 10px;
    margin-top: 10px;
        width: 100px;
        height: 40px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid black;
}

.mainMenu:hover{
    cursor: pointer;
}
.mainMenu:active{
    transform:scale(0.95);
}
.left{
    grid-area: left;
}
.leftend{
    grid-area: leftend;
}

.middle{
    grid-area: middle;
}

.rightend{
    grid-area: rightend;
}

.right{
    grid-area: right;
}

.cupOneImage,
.cupTwoImage,
.cupThreeImage,
.cupFourImage,
.cupFiveImage,
.ball{
    position: absolute;
    transition: all 500ms ease;
}

:is(.cupOneImage,
.cupTwoImage,
.cupThreeImage,
.cupFourImage,
.cupFiveImage) > img{
    width: 225px;
    height: 225px;

}

:is(.cupOneImage,
.cupTwoImage,
.cupThreeImage,
.cupFourImage,
.cupFiveImage):hover{
cursor: pointer;
}

.ball{
    background-color: yellow;
        width: 75px;
        height: 75px;
    border: 3px solid black;
    border-radius: 50%;
    z-index: 1;
}

.paragraph{
    text-align: center;
    font-weight: bold;
}

.arrow{
    background-image: url('../images/arrowImage.png');
    background-size: contain;
    background-repeat: no-repeat;
        width: 50px;
        height: 50px;
    margin: auto;    
}

#play{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}  

#play > button{
    font-size: 3rem;
    border-radius: 5px;
        height: 125px;
        width: 350px;
    animation: interativeButtons 1s infinite ease-in-out;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);
}

#modes{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

#modes > button{
    font-size: 1.5rem;
        height: 75px;
        width: 200px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.803);
}

#modes > button:hover{
    cursor: pointer;
    animation: interativeButtons 3s ease-in-out infinite;
}

#buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
        height: 100%;
        width: 100%;
    gap: 30px;
}

#fill{
    margin: auto;
        min-width: 70vw;
}

.cupsApresentation{
    display: flex;
        gap: 30px;
    justify-content: space-between;
}
.cup1{
    object-fit: contain;
    transform: rotate(-20deg);
}

.ballingMiddle{
    background-color: rgba(255, 255, 0, 0.589);
        min-width: 100px;
        height: 100px;  
    object-fit: contain;
    border-radius: 50%;
    border: 3px solid black;
    margin: auto;
}

.cup2{
    object-fit: contain;
    transform: rotate(20deg);
}

.unmuted{
    position: relative;
    display: inline;
        width: 50px;
        height: 50px;
    margin-left: 10px;
    border: none;
    background-image: url("../images/sound.png");
    background-size: cover;
}

.unmuted:hover{
    cursor: pointer;
}

.butoes{
        position: absolute;
        display: flex;
        gap: 5px;
 }

.muted{
    background-image: url("../images/muted.png");
    display: inline;
        width: 50px;
        height: 50px;
    margin-left: 10px;
    background-size: cover;
    border: none;
}

.muted:hover{
    cursor: pointer;
}

#refresh{
    border-radius: 10%;
        margin: auto;
        height: 30px;
    padding: 3px;
}
#refresh:hover{
    cursor: pointer;
}

@keyframes interativeButtons{
   0%{
    transform: scale(1);
   }
   50%{
    transform: scale(1.15);
   }
   100%{
    transform: scale(1);
   }
}
#portrait{
    display: none;
}